.item{
    position: relative;
    background-color:rgb(217, 236, 240);
    padding:40px;
    margin:20px 35px;
    width:600px;
    font-size:large;
}

.cross{
    position:absolute;
    top:20px;
    right:30px;
}